<%- include('partials/header') %>

<div id="hawkeye-container" class="container">
    <div id="hawkeye-carousel" class="carousel slide" data-interval="false" style="width: 135px; height: 101.25px;">
        <ol class="carousel-indicators" style="display: none;"><li class="active"></li></ol>
        <div class="carousel-inner"><div class="item active"><img class="mjpeg" src="0.0.0.0:80"></div></div>
        <a class="left carousel-control" href="#hawkeye-carousel" data-slide="prev" style="display: none;"><span class="icon-prev"></span></a>
        <a class="right carousel-control" href="#hawkeye-carousel" data-slide="next" style="display: none;"><span class="icon-next"></span></a>
    </div>
</div>


<%- include('partials/footer') %>